
<div class='jumbotron'>
  <h1 class='title' ></h1>
  <p class='slogan'>TTM是全球唯一一家可以帮助人们穿越时空的公司。

  </p>
  <p class='lead'><a class='btn btn-lg btn-danger' href='/jobs'>Join TTM</a></p>
</div>
<br />
<br />

<div  class="container text-center">
  <h3>TTM需要你拥有……</h3>

  <br>

  <div class="row">
    <div class="col-sm-4">
      <p class="text-center"><strong>过硬的穿梭技术</strong></p><br>
      <a data-toggle="collapse">
        <img src="http://www.cj-elec.com/gallery/UploadPicFile/2011122917021607.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      </div>

    <div class="col-sm-4">
      <p class="text-center"><strong>敏锐的时间方位感</strong></p><br>
      <a  data-toggle="collapse">
        <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSrOTkdQuJGxymTrmEG1VwAWhhzPa4wU6lhRk_bfn4l8_z9ZbvY2Q" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>

    </div>
    <div class="col-sm-4">
      <p class="text-center"><strong>强大的心理素质</strong></p><br>
      <a  data-toggle="collapse">
        <img src="http://cw1.tw/CW/images/article/C1444473897963.jpg" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>

    </div>
  </div>
</div>
<br />
<br />

<div id="contact" class="container">
  <h3 class="text-center">Contact TTM</h3>


<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=VfqbvmFVI&l=y.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>中国，上海，时光路99号</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=9yBkCQVj7&l=y.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>future@TTM.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="http://y.photo.qq.com/img?s=bAQJ8dfF4&l=y.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
