/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .jumbotron {
   background-image:url('http://a3.qpic.cn/psb?/V11atfjp0nNZX3/ArL*0WlgwIc*yCdJqwu98NfkveFwBV25YlWZ*WZqP14!/b/dFUBAAAAAAAA&bo=RAMPAgAAAAAFAGk!&rf=viewer_4');
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 110px;
 }

.title {
  font-family: "Helvetica Neue", "Microsoft Yahei", 微软雅黑;
  text-align: left;
  margin-top: 260px;
  margin-bottom: 20px;
}

.slogan{
  margin-top: 300px;
  margin-bottom: 10px;
  text-align: left;
  color: white;
  top: 12px;
}

.lead{
  margin-bottom: 10px;
  text-align: left;
  color: white;
}
.caption {
  margin: 30px;
  text-align: center;
  top: 20px;
}
.thumbnail {
  border: 0 none;
  box-shadow: none;
  margin-top: 60px;
}
.custab {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5% 0;
  box-shadow: 3px 3px 2px #ccc;
  transition: 0.5s;
}
.custab:hover{
  box-shadow: 3px 3px 0px transparent;
  transition: 0.5s;
}
